[submodule "External/CocoaScript"]
	path = External/CocoaScript
	url = https://github.com/joshvera/CocoaScript
[submodule "External/ReactiveCocoa"]
	path = External/ReactiveCocoa
	url = https://github.com/ReactiveCocoa/ReactiveCocoa
